
<!DOCTYPE html>
<html>
<head>
<title>API contatos</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

</head>
<body>
	<form id="frmCadastro">
		<ul>
			
			<li><label for="txtNome">Nome:</label> <input type="text"
				id="txtNome" /></li>
			<li><label for="txtTelefone">Telefone:</label> <input
				type="text" id="txtTelefone" /></li>
			<li><label for="txtStatus">Status</label> <input type="text"
				id="txtStatus" /></li>
			<li><input type="submit" value="Salvar" id="btnSalvar" /></li>
		</ul>
	</form>

	

</body>
</html>